@import '../variables/colors.scss';

nav {
    background-color: $light_gray;

    h2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    a {
        text-decoration: none;
        font-weight: bold;
    }
}