html {
    font-size: 3em;
}

nav {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
}

@media (max-width: 840px) {

    nav {
        font-size: 0.5em;
    }

}

@media (max-width: 420px) {

    nav {
        font-size: 0.3em;
    }

}

@media (max-width: 320px) {

    nav {
        font-size: 0.5em;
        flex-direction: column;
    }

}