* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
  height: 80vmin;
}

.board__square {
  flex: 0 0 auto;
  width: 12.5%;
  height: 12.5%;
  border: 2px solid white;
}

.board__square--light {
  background-color: lightgray;
}

.board__square--dark {
  background-color: gray;
}